# archivos de emacs.d
emacs.d/elpa
emacs.d/backups
emacs.d/auto-save-list
emacs.d/tramp
emacs.d/image-dired
emacs.d/url/cache

# archivos byte-compiled
*.elc

# archivos de respaldo
*~

# archivos temporales
\#*\#

# Weird file
*.plstore

# web-vcs-log.org
web-vcs-log.org

# cookies
cookies