# archivos de emacs.d
emacs.d/elpa
emacs.d/backups
emacs.d/auto-save-list
emacs.d/tramp
emacs.d/image-dired
emacs.d/url/cache
emacs.d/eshell/history
emacs.d/projectile-bookmarks.eld
emacs.d/ac-comphist.dat

# archivos byte-compiled
*.elc

# archivos de respaldo
*~

# archivos temporales
\#*\#

# Weird file
*.plstore

# web-vcs-log.org
web-vcs-log.org

# cookies
cookies

# archivos compilados python
*.pyc

# Malabar mode files (from semantic)
/emacs.d/semanticdb/
/emacs.d/srecode-map.el
/emacs.d/projectile.cache
.cask/
dist/
/emacs.d/.org-id-locations
/emacs.d/lisp/nxhtml/etc/schema/xhtml-loader.rnc
